name: All CI

on:
  workflow_call:

jobs:

  secret-scan:
    name: "Secret Scan"
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
      issues: write
      contents: write

    steps:
        - name: Checkout
          uses: actions/checkout@v4

        - name: Secret Scan
          uses: BakeFoundry/bk-secret-scan-workflow@v1

  code-quality:
    name: "Code Quality Check"
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
      issues: write
      contents: write

    steps:
        - name: Checkout
          uses: actions/checkout@v4

        - name: Code Quality Check
          uses: BakeFoundry/bk-sonar-scan-workflow@v1

  sast-scan:
    name: "SAST Scan"
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
      issues: write
      contents: write
      security-events: write

    steps:
        - name: Checkout
          uses: actions/checkout@v4

        - name: SAST Scan
          uses: BakeFoundry/bk-sast-workflow@v1
          with:
            languages: python
            github-token: ${{secrets.GITHUB_TOKEN}}

  bake-ami-scan:
    name: "Bake AMI Scan"
    needs: [secret-scan, code-quality, sast-scan]
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
      issues: write
      contents: write
      security-events: write
      id-token: write

    steps:
        - name: Checkout
          uses: actions/checkout@v4

        - name: Bake AMI Scan
          uses: BakeFoundry/bk-bake-ami-workflow@v1
          with:
            ami_name:  'Amazon Linux 2023 kernel-6.1*'
            ami_owner: 'amazon'
            ami_architecture: 'x86_64'
            ami_os_type: 'linux'
            role_to_assume: ${{secrets.BK_ROLE_TO_ASSUME}}
