name: All CI

on:
  workflow_call:

jobs:

  secret-scan:
    name: "Secret Scan"
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
      issues: write
      contents: write

    steps:
        - name: Checkout
          uses: actions/checkout@v4

        - name: Secret Scan
          uses: BakeFoundry/bk-secret-scan-workflow@v1

  code-quality:
    name: "Code Quality Check"
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
      issues: write
      contents: write

    steps:
        - name: Checkout
          uses: actions/checkout@v4

        - name: Code Quality Check
          uses: BakeFoundry/bk-sonar-scan-workflow@v1

  sast-scan:
    name: "SAST Scan"
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
      issues: write
      contents: write

    steps:
        - name: Checkout
          uses: actions/checkout@v4

        - name: SAST Scan
          uses: BakeFoundry/bk-sast-workflow@v1
          with:
            language: python
