name: All CI

on:
  workflow_call:

jobs:

  secret-scan:
    name: "Secret Scan"
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
      issues: write
      contents: read
    steps:
        - name: Checkout
          uses: actions/checkout@v4

        - name: Secret Scan
          uses: BakeFoundry/bk-secret-scan-workflow@v1
